body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

title {
    display: none;
}

.buttons-container {
    /* margin-top: 5vh; */
    /* margin-bottom: 0; */
    justify-content: center;
}

.buttons {
    padding: 5px 10px;
    margin: 20px;
}

.buttons-container,
.container,
.container > * {
    display: flex;
}

.container {
    flex-flow: row wrap;
    justify-content: center;
    width: 75vw;
    min-width: 800px;
    height: 75vh;
    min-height: 685px;
    margin: auto;
}

.container > * {
    width: 6%;
    height: 6%;
    border: solid 1px black;
}

.coloredDiv {
    background-color: red;
}