body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

title {
    display: none;
}

.buttons-container {
    /* margin-top: 5vh; */
    /* margin-bottom: 0; */
    justify-content: center;
}

.buttons {
    padding: 5px 10px;
    margin: 20px;
}

.buttons-container,
.container,
.divRow,
.container > * {
    display: flex;
}

.container {
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    margin: auto;
}

.divRow {
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1;
}

.divRow > * {
    flex-direction: row;
    border: solid 1px black;
    width: 100%;
    height: 100%;
}

.coloredDiv {
    background-color: red;
}